<main>
  <section id="home-page" class="background-image">
    <div class="home-container">

      <div class="info">
        <h1>Find the Property </h1>
        <h2>for Rent and Sale.</h2>
      </div>

    </div>
  </section>


</main>